a {
    text-decoration: none ;
}
body{
    font-family: "Helvetica Neue";
    --font-family-sans-serif: "Helvetica Neue",sans-serif;
}
.background-menubar{
    background-color: rgb(245, 245, 245);
    font-size: 15px;
}
.color-text-menubar{
    color: rgb(65, 64, 64);
}
.color-text-menubar:hover{
    color:#f54282
}
.menubar{
    justify-content: space-between;
    height: 30px;
}
.color-pink{
    text-decoration: none;
    color:#f54282
}
.container{
    max-width: 1040px;
}
.img-category{
    background: url(img/category-svg.jpg) no-repeat top 1px left ;
    padding-left: 15px ;
}
.img-category:hover{
    background: url(img/category-pink-svg.jpg) no-repeat top 1px left ;
    padding-left: 15px ;
}
.img-location{
    background: url(img/localtion-dark-svg.jpg) no-repeat top 1px left ;
    padding-left: 14px ;
}
.img-location:hover{
    background: url(img/localtion-pink-svg.jpg) no-repeat top 1px left ;
    padding-left: 14px ;
}
.img-user{
    background: url(img/user-dask-svg.jpg) no-repeat top 1px left ;
    padding-left: 14px ;
    width: auto;
}
.img-user:hover{
    background: url(img/user-pink-svg.jpg) no-repeat top 1px left ;
    padding-left: 14px ;
}
.input-search{
    border: 0.1rem solid #555;
    min-width: 650px;
    padding-right: 35px;
    height: 36px;
    border-radius:20px;
    padding-left: 30px;
}
.input-search:hover{
    border: 0.1rem solid #f54282;
}
.cart{
    background: url(img/cart-top-svg.jpg) no-repeat center center;
    min-width: 70px;
}
.cart:hover{
    background: url(img/cart-top-pink.svg) no-repeat center center;
}
.notify{
    background: url(img/notify-dark-top-svg.jpg) no-repeat center center;
    min-width: 70px;
}.notify:hover{
    background: url(img/notify-pink-top-svg.jpg) no-repeat center center;
}
.menu-suptext {
    position: absolute;
    height: 10px;
    padding: 0 2px 0 2px;
    border-radius: 20px;
    line-height: 10px;
    background-color: #fcc318;
    font-size: 10px;
    top: 10px;
    right: 24px;
    color: #fff;
}
.button-seach{
    background: url(img/search-new-svg.jpg) no-repeat center center;
    right: 7px;
    top: 11px;
    position: absolute;
}
.button-seach:hover{
    background: url(img/search-pink-svg.jpg) no-repeat center center;
}
/* endheade r*/
/* slide */
.font-concung{
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: bolder;
}

/*product*/
.time-down span {
  background-color:rgb(0, 0, 0);
  color:#fff;
  border-radius: 5px;
  padding: 3px;
  
}
.cost p{
  margin-bottom: 0;
}
.line-item{
  position: relative;
  height: 5px;
  background-color:#d8d8d8;
  border-radius: 10px;
  margin-top: 5px;
}
.line-color{
  position: absolute;
  bottom:-5px;
  font-size: 11px;
  background-color: #ee3e80;
  border-radius: 20px;
  height: 15px;
  width: 90px;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}
.card{
  border-color: white;
}
.card-img-top:hover{
  border: 1px solid #adb5bd;
  border-radius: 10px;
}
.img-promotion{
  position: absolute;
  bottom: -4px;
  width: 60px;
}
.cost-old{
    text-decoration: line-through;
    font-size: 11px;
    color: #555;
}
.card-title{
    font-size: 1rem;
}
.percent-down{
    margin-left: 5px;
    font-size: 11px;
    border: 1px solid #f34786;
    border-radius: 3px;
    padding: 0 2px;
    color: #ee3e80;
}
.card-body .card-text{
    margin-bottom: 0.5rem;
}

/*PRODUCT*/
.line{
    height: 10px;
    background: #eee;
    margin-bottom: 20px;
    margin-top: 20px;
}
.little-line{
    height: 1px;
    background: #eee;
    margin: 20px 0;  
}
.more-product{
    text-align: right;
    flex-wrap: nowrap;
}
.more-product a{
    font-size: 14px;
}
.mini-img-logo{
    max-width: 100%;
    max-height: 40px;
}
.item-logo{
    width: 130px;
    height: auto ;
}
.red-hover:hover{
    border: 1px solid red;
    border-radius: 8px; 
}
.list-item-scroll{
    overflow-x: auto;
    white-space: nowrap;
}
.list-item-scroll a{
    display: inline-block;
    padding: 15px;
}
.banner-img{
    position: relative;
    width: 100%;
}
.banner-hover{
    position: absolute;
    z-index: 2;
}
.banner-behind{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 99%;
}
.gift-hover{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 7px;
    width: 55px;
}
.gift-img{
    position: absolute;
    top:8px;
    right:5px;
    width: 46px;
    border-radius: 8px;
}
.list-item{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mini-img-top-title{
    max-width:40px ;
}
.item-mitt{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.more-product .list-item-scroll a{
    padding: 0;
}
.pink-hover:hover{
    color: #ee3e80;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 10 !important;
}

/** Baby Care**/
.noti-title{
    background-color: #ee3e80;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px;
}
.group-title-item a{
    padding: 0;
}
.title-info{
    text-overflow: ellipsis;
    font-weight: 800;
    overflow: hidden;
    height: 40px;
    font-size: 20px;
}

.index-babycare{
    line-height: 20px;
    height: 80px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**another product**/

.detal-more-next-page{
    text-align: center;
    margin:20px 0;
}
.border-blue{
    border: 1px solid var(--bs-link-hover-color);
    border-radius: 5px;
    padding: 8px 30px;
}
.color-black{
    color:black;
}
.group-item-news-babycare{
    overflow-x: auto;
    white-space: nowrap;
}
/**footer**/
.footer-up{
    background: url(img/bg-footer.png) no-repeat bottom center;
    background-size: cover;
    font-size: 12px;
    /* line-height: 2; */
}
.footer-under ul li a {
    color: #555;
}
.footer-under ul li {
    list-style: none;
}
.footer-under ul {
    padding-left: 0;
}
.footer-under {
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
    color: #555;
}
.title-top-info{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}

/*****   Login   *****/
.login-div {
    max-width: 1020px;
    border: 1px solid #dee2e6 !important;
    border-radius: 10px;
    font-family: sans-serif, Tahoma, Verdana, cursive, Geneva, ;
}
.group-item-login-form {
    padding: 0 40px;
    text-align: left;
    font-size: 15px;
}
.form-input {
    border-radius: 8px;
    border: 1px solid #d7d7d7;
    background: #fff;
    color: #555;
    position: relative;
    z-index: 1;
}
.form-input:focus {
    border-color: #ee3e80 ;
    outline: 0;
}
.form-input-size{
    width: 100%;
    padding: 5px 50px;
}
.login-img{
    position: absolute;
    width: 20px;
    height: 15px;
    top:10px;
    left: 10px;
    z-index: 10;
}
.btn-continue{
    height: 35px;
    padding-top: 5px;
    color: white;
    background: #d7d7d7;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 10px 0;
}
.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.login-w-fb {
    height: 35px;
    padding-top: 5px;
    color: #555;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin: 10px 0;
}
.img-fb{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 2px;
    left : 8px;
}
.img-gg{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 2px;
    left : 8px;
}
.label-checkbox{
    position: relative;
    display: block;
    min-height: 1.25rem;
    padding-left: 1.5rem;
}


/*****************  find-me  ******************/
.text-top{
    text-align: right;
    font-size: 13px;
}
.text-top a {
    color: #555;
}
.img-item-info {
    max-width: 50px;
    height: 50px;
}
.img-item{
    width: 70px;
    height: 70px;
    background-color: #555;
    border-radius: 100%;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    background-size: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    appearance: none;
    outline: 0;
}